@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}
img{
  margin: 0 auto
}
.ant-spin-text { color: #1D9BD7; }
.ant-list-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.ant-drawer-content-wrapper{
  width: 350px!important;
}
@media only screen and (max-width: 540px) {
  .ant-drawer-content-wrapper {
      width: 60%!important;
  }
}
@media only screen and (min-width: 768px) {
  .ant-drawer-content-wrapper {
      width: 40%!important;
  }
}